@import '../../vars.css';

.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.btn_block {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.btn_block a {
    box-shadow: var(--box-shadow-main);
    border-radius: 10px;
}