@import '../../vars.css';

.container {
    padding: 10px;
    min-height: 100vh;
}

.content {
    margin-top: 10px 0 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    box-shadow: var(--box-shadow-main);
    border-radius: 30px;
    font-size: 1.2em;
}

.item {
    cursor: pointer;
    color: #000;
}

.item:hover {
    color: var(--color-red);
}


