@import '../../vars.css';

.btnLink {
    background-color: transparent;
    font-size: 1em;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    text-align: center;
    padding: 10px 18px;
}

.btnLink:hover {
    color: var(--color-red);
}